*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1200px;
    margin: 2rem auto;
}


header{
    background-color: #255ee9;
    padding: 1.2rem 4rem 1rem 10rem;
}

h1{
    padding:2rem;
}

.header,ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

header button{
    color: black;
}

li{
    list-style-type: none;
    list-style: none;
    margin-right: 2rem;
    color: white;
    font-size: 1.2rem;
}

button{
    margin-right: 1rem;
    padding: 0.7rem 1.2rem;
    border-radius: 30px;
    border: none;
    background-color: white;
    font-weight: bold;
    height: 3rem;

}


.button_white{
    margin-top: 1rem;
    background-color: white;
    color: black;
    font-weight: bold;
    height: 3rem;
}

.button_black{
    background-color:black;
    margin:2rem;
    color: white;
    font-weight: bold;
    height: 3rem;
}

.jumbo h1{
    font-size: 2.5rem;
    padding-top: 5rem;
}

.jumbo_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/jumbo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}

.button_blue{
    background-color: #255ee9;
    color: white;
    font-weight: bold;
    height: 3rem;

}

.center_section{
    display:flex;
    justify-content: center;
    margin: 2rem auto;
    flex-direction: column;
}

.description{
    max-width: 40%;
}

.image{
    max-width: 60%;

}

.color_footer{
    color: blue;
    padding: 1rem;
    font-weight: bold;
}

.second_footer{
display: flex;
justify-content: space-between;
padding:1.5rem 8rem;
}

.first_footer,ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.final_description{
    text-align: center;
}

/* selettore per classe con specificità */

.button_blue.final{
    margin-top: 2rem;
    font-weight: bold;
    height: 3rem;


}

.footer_nav{
    display:flex;
    flex-wrap: nowrap;
    width: 100%;
}

.ul_footer{
    color: white;
    background-color:grey;
    flex-direction: column;
    align-items: center;

}

.footer_nav{
    
}

.loghini{
    color:black;
}

