*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #255ee9;
    padding: 1.2rem 4rem 1rem 10rem;
    margin: 0rem auto;
}

header button{
    color: black;
}

li{
    list-style-type: none;
    list-style: none;
    margin-right: 2rem;
    color: white;
    font-size: 1.2rem;
}

button{
    margin-right: 1rem;
    padding: 0.7rem 1.2rem;
    border-radius: 30px;
    border: none;
    background-color: white;
    font-weight: bold;
    height: 3rem;
}

h1{
    font-weight: bold;
}

footer{
    padding:1rem;
}

.nav0{
    background-color: #255ee9;
}

.description1{
    max-width: 30%;
    text-align: center;
    padding-top: 2rem;
}

.jumbo h1{
    padding:0.5rem;
}

.header,ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.bottoni-jumbo{
    padding: 2rem;
}

.button_white{
    margin-top: 1rem;
    background-color: white;
    color: black;
    font-weight: bold;
    height: 3rem;
}

.button_black{
    background-color:black;
    margin:2rem;
    color: white;
    font-weight: bold;
    height: 3rem;
}

.jumbo h1{
    font-size: 2.5rem;
    padding-top: 5rem;
}

.jumbo_section{
    background-image: url(../img/jumbo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
}

.jumbo-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.button_blue{
    background-color: #7189da;
    color: white;
    font-weight: bold;
    height: 3rem;
}

.center_section{
    justify-content: center;
    margin: 2rem auto;
    max-width: 1200px;
}

.div-main{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.description{
    max-width: 40%;
    padding:6rem ;
    font-size: 20px;
    margin: 0 auto;
}

.description_final{
    text-align: center;
    padding: 6rem;
    font-size: 20px;
    margin: 0 auto;
}

.image{
    max-width: 60%;
    margin:0 auto;
    padding: 4rem;

}

.li-color_footer{
    color: #7189da;
    padding: 1rem;
    font-weight: bold;
}

.second_footer{
    display: flex;
    justify-content: space-between;
    padding:1.5rem;
}

.big_footer{
    justify-content: space-around;
    color: white;
    background-color:#23272a;

}

.final_description{
    text-align: center;
}

/* selettore per classe con specificità */

.button_blue.final{
    margin-top: 2rem;
    font-weight: bold;
    height: 3rem;
}

.footer_nav{
    display:flex;
    flex-wrap: nowrap;
    width: 100%;
}

.ul_footer{
    color: white;
    flex-direction: column;
    align-items: center;
}

.loghini{
    color:white;
    padding: 1rem;
    font-size: 20px;
}

.pre-footer{
    display: flex;
    padding-top: 4rem;
}

.primo-div-footer{
    text-align: center;
    max-width: 10%;
    margin: 0 auto;
}

.secondo-div-footer{
    max-width: 90%;
    margin: 0 auto;
}

.terzo-div-footer{
    border-top: solid blue;
    padding: 1rem;
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
}

.ita{
    margin: 1rem;
    font-size: 16px;
}

.h2-footer{
    color:#7189da;
    margin-bottom: 2rem;
}

.logo-italiano{
    text-align:left;
}